.product_menu {
    height: 50px;
}

.product_menu_list {
    list-style: none;
}

.menu_list_item {
    float: left;
    margin-left: 15px;
    height: 50px;
    line-height: 50px;
}

.menu_list_item a {
    height: 50px;
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
}

.menu_list_item:hover {
    background-color: lightgreen;
}

.product_pictures_smalls:not(.picture) {
    float: left
}