<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Super shop</title>
</head>
<body>
    <h1>Super shop</h1>
    <div class="wrapper">
        <div class="menu">
            <ul class="menu_list">
                <li class="memu_list_item"><a href="/">Описание</a></li>
                <li class="memu_list_item"><a href="/description">Характеристики</a></li>
                <li class="memu_list_item"><a href="/prices">Цены</a></li>
                <li class="memu_list_item"><a href="/feedback">Отзывы</a></li>
                <li class="memu_list_item"><a href="/analogs">Аналоги</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
